@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width {
    max-width: 1366px;
}

.bg-notivication {
    background-color: #e5e5e5;
}

.max-cermati {
    max-width: 720px;
}

.bg-header {
    background-color: #004a75;
}

.bg-highlights {
    background-color: #e5e5e5;
}

.w-content {
    width: 30%;
}

.bg-footer {
    background-color: #004a75;
}

.newsletter {
    max-width: 640px;
    max-height: 370px;
    background: rgba(0, 123, 193, .8);
    /* margin-bottom: -23rem; */
    /* margin: 0 auto; */
    /* overflow: hidden; */
    /* transition: all 2s ease-in-out; */
}
